S3_REGION = ''
S3_access_key_id = ''
S3_secret_access_key = ''
S3_bucket = ''
conn_params = {
    'host': 'localhost',
    'port': '5432',
    'user': 'your_username',
    'password': 'your_password'
}